.cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecalho__pesquisar__item {
    display: none;
}

.rodape__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.superior__secao__container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 1rem;
    overflow: scroll;
}

.menu__container {
    position: fixed;
    bottom: 0;
    height: 75px;
    width: 100%;
}

.menu__lista {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.menu__lista li {
    align-self: center;
}

.menu__itens {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) {
    display: none;
}

.videos__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.videos__item {
    width: 303px;
    height: 280px;
    flex-grow: 1;
}

@media (min-width: 834px) {
    .cabecalho__pesquisar__item {
        display: block;
    }

    .menu__container {
        top: 80px;
        left: 0;
        width: 74px;
        height: auto;
    }

    .menu__lista {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 15px;
        gap: 55px;
    }

    .rodape__container {
        justify-content: space-between;
    }
}


@media (min-width: 1440px) {
    .menu__container {
        width: 239px;
        overflow: scroll;
    }

    .menu__lista {
        height: auto;
        padding: 20px 17px 20px 15px;
        gap: 15px;
    }

    .menu__lista:nth-child(2),
    .menu__lista:nth-child(3),
    .menu__lista:nth-child(4) {
        display: flex;
    }

    .menu__itens {
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }

    .menu__lista:nth-child(3) {
        flex-direction: column-reverse;
    }

    .premium {
        order: 1;
    }

    .filmes {
        order: 2
    }

    .jogos {
        order: 3;
    }

    .maispagina {
        order: 4;
    }
}