@import url('https://fonts.googleapis.com/css2?family=Krona+One:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --main-color: #22D4FD;
    --secondary-color: #F6F6F6;
    --terciary-color: #272727;
    --background: #000000;
    --primary-text: "Montserrat", sans-serif;
    --secondary-text: "Krona One", sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--background);
    color: var(--secondary-color);
}

.header {
    padding: 2% 0 0 15%;
}

.nav-header {
    display: flex;
    gap: 80px;
}

.nav-link {
    font-family: var(--primary-text);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--main-color);
}

.container {
    padding: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.card {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title {
    font-size: 2rem;
    font-family: var(--secondary-text);
}

.highlight {
    color: var(--main-color);
}

.description {
    font-size: 24px;
    font-family: var(--primary-text);
    font-weight: 400;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.social-title {
    font-family: var(--secondary-text);
    font-weight: 400;
    font-size: 1.5rem;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 70%;
    text-align: center;
    padding: 16px 0;
    border-radius: 8px;
    font-size: 1.5rem;
    font-family: var(--primary-text);
    font-weight: 600;
    text-decoration: none;
    border: 2px solid var(--main-color);
    color: var(--secondary-color);
}

.social-link:hover {
    background-color: var(--terciary-color);
}

.social-link img {
    width: 24px;
    height: 24px;
}

.person {
    width: 50%;
    height: auto;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    background-color: var(--main-color);
}

.footer p {
    font-family: var(--primary-text);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--terciary-color);
}